@model List<ProductViewModel>
@{
    ViewData["Title"] = "EducationApp";
}

<div class="row">
    
    <div class="col-2 ">
        @await Component.InvokeAsync("Categories")
        
    </div>
    <div class="col-10 mb-3">
        <div class="row g-5 t-1">

            @foreach (var productViewModel in Model)
            {
                <div class="col-4">
                    @await Html.PartialAsync("_ProductPartial",productViewModel)
                </div>
            }
        </div>
    </div>
</div>
